.current-weather-container {
	border-radius: 40px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: rgba(250, 250, 250, -0.85);
	max-width: 800px;
	border: 1px;
}

.current-weather-title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.current-weather-city {
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
}

.current-weather-main {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 100px;
	font-weight: bold;
	color: #7c3aed;
}

.current-weather-details {
	color: #666;
	font-size: 14px;
	line-height: 1.8;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.weather-detail-label {
	display: inline-block;
	width: 120px;
	font-weight: 500;
}

.weather-detail-value {
	flex: 1;
}

.cloud-img,
.sun-img {
	position: relative;
	width: 300px;
	height: auto;
}

.weather-images {
	position: absolute;
	top: -100px;
	right: 10px;
}

.temp-high,
.temp-low {
	margin-right: 15px;
}

@media (prefers-color-scheme: dark) {
	.current-weather-main,
	.current-weather-title,
	.current-weather-details,
	.temp-high,
	.temp-low {
		color: #fff;
	}
}

@media (max-width: 700px) {
	.cloud-img,
	.sun-img {
		width: 200px;
	}
	.weather-images {
		top: -80px;
		right: 5px;
	}
}
