.search-history-container {
	padding: 20px;
	border-radius: 15px;
	background-color: #f9f9f9;
	background: rgba(250, 250, 250, 0.2);
	padding: 10px;
}

.search-history-title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
}

.history-item {
	display: flex;

	align-items: center;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	background: rgba(250, 250, 250, 0.3);
	margin-bottom: 15px;
}

.history-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	padding-right: 10px;
}

.history-item-city-button {
	background: none;
	border: none;
	color: #333;
	cursor: pointer;
	font-size: 16px;
	padding: 0;
	text-align: left;
	font-weight: 500;
	transition: color 0.2s ease;
}

.history-item-city-button:hover {
	color: #7c3aed;
}

.history-item-actions {
	display: flex;
	align-items: center;
	gap: 15px;
}

.history-item-timestamp {
	color: #999;
	font-size: 14px;
	min-width: 110px;
}

.history-item-search-button,
.history-item-delete-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s ease;
	border-radius: 50%;
	background-color: #f9f9f9;
	background: rgba(250, 250, 250, 0.4);
}

.history-item-search-button {
	color: #666;
}

.history-item-search-button:hover {
	color: #7c3aed;
}

.history-item-delete-button {
	color: #999;
}

.history-item-delete-button:hover {
	color: #ff4444;
}

@media screen and (width <= 600px) {
	.history-item-content {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		min-width: 15rem;
	}
}

@media (prefers-color-scheme: dark) {
	.search-history-container,
	.search-history-container {
		background-color: rgba(26, 26, 26, 0.3);
	}
	.history-item,
	.history-item-search-button,
	.history-item-delete-button {
		background-color: rgba(26, 26, 26, 0.5);
	}

	.history-item-search-button,
	.history-item-delete-button {
		border: 1px solid #666;
	}

	.history-item-city-button,
	.search-history-title {
		color: #fff;
	}
}
