.search-bar-container {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.city-input,
.country-input {
	width: 620px;
	height: 46px;
	padding: 15px 20px;
	font-size: 16px;
	border: none;
	border-radius: 12px;
	background-color: #d4b5f0;
	color: #333;
	transition: all 0.3s ease;
	position: relative;
	box-sizing: border-box;
}

.city-input:focus,
.country-input:focus {
	outline: none;
	background-color: #c9a3e8;
	box-shadow: 0 4px 12px rgba(124, 58, 237, 0.2);
}

.city-input::placeholder,
.country-input::placeholder {
	color: #fff;
	opacity: 0.4;
	font-size: 16px;
}

.search-button {
	margin-left: 10px;
	padding: 8px 12px;
	border: none;
	background-color: #7c3aed;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border-radius: 30%;
}

@media (prefers-color-scheme: dark) {
	.search-button {
		background-color: #28124d;
	}
	.city-input,
	.country-input,
	.city-input:focus,
	.country-input:focus {
		background-color: #1a1a1a80;
		color: #fff;
	}
}

@media screen and (width <= 700px) {
	.city-input,
	.country-input {
		width: 100%;
	}
}

