.container {
	border-radius: 40px;
	padding: 20px;
	margin-bottom: 20px;
	max-width: 800px;
	border: 1px;
}

.no-search-data {
  display: flex;
  justify-self: center;
}

@media (prefers-color-scheme: dark) {
  .no-search-data {
    color: #fff;
  }
}