:root {
	display: flex;
	justify-content: center;
	background-image: url(assets/bg-light.png);
	width: 100%;
}

.body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-image: url(assets/bg-dark.png);
	}
}
