:root {
	display: flex;
	justify-content: center;
	background-image: url(assets/bg-light.png);
	width: 100%;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-style: 'Regular';
	font-size: 16px;
}

.body {
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-image: url(assets/bg-dark.png);
	}
}
